{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-hover">
        <tbody>
        <tr>
            <th>Ship 1</th>
            <td>{{ shipA.name }}</td>
        </tr>
        <tr>
            <th>Ship 2</th>
            <td>{{ shipB.name }}</td>
        </tr>
        <tr>
            <th>Winner</th>
            <td>
                Winner: {{ winningShip ? winningShip.name : 'none' }}
            </td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('homepage') }}" class="btn btn-text">Battle Again!</a>
{% endblock %}
